<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<!--
<style>
:root {
    /* see variables.scss for more variables*/

    /*
    --section-light-text-color: #3a4145!important;
    --section-light-bg-color: #ffdb8c!important;
    --section-dark-bg-color: #035e00!important;
    */
}
</style>
-->


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F0BTBVHMZD">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F0BTBVHMZD');
</script>
<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


     <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/images//favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/images//favicon-16x16.png">
     <link rel="manifest" href="/images/site.webmanifest">


     <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"siteId":4059052,"cookiePolicyId":28290514,"lang":"it","storage":{"useSiteId":true}};
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4059052.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>